node_modules
dist
build
out
.env
*.log
.DS_Store
package-lock.json

# Keep folder structure
!src/data/.gitkeep
!src/data/images/local/.gitkeep
!src/data/images/manifests/.gitkeep
!src/data/generations/.gitkeep
!src/data/assets/.gitkeep
!src/data/local-workflows/.gitkeep
!src/data/logs/.gitkeep

# Ignore non keep files
src/data/images/local/*
src/data/images/manifests/*
src/data/generations/*
src/data/ammendments/*
src/data/assets/*
src/data/logs/*
src/data/**/*.png
src/data/**/*.jpg
src/data/**/*.jpeg
src/data/**/*.webp
src/data/**/*.gif
src/data/**/*.bmp
src/data/**/*.tiff